{:kotoba.app/id "cloud.itonami.isic-2021", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiat44zqoryuhglj2soq7m6quedqw75glwx3nba2vovijf2uklokui", :kotoba.app/embed-url "ipfs://bafkreiat44zqoryuhglj2soq7m6quedqw75glwx3nba2vovijf2uklokui", :published {:archive "https://kotobase.net/ipfs/bafkreiat44zqoryuhglj2soq7m6quedqw75glwx3nba2vovijf2uklokui", :size 73476, :put-status 201, :get-status 200, :at "2026-08-15T13:58:36.700Z"}}
